.search-bar {
    width: 100%;
    height: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .2rem;
}

.search-bar .bar-location {
    margin-right: .5rem;
    border-radius: .325rem;
    background-color: rgba(0, 0, 0, 0.33);
    width: 2.3rem;
    height: .7rem;
}

.search-bar .location-icon {
    display: inline-block;
    width: .375rem;
    height: .5rem;
    vertical-align: .25rem;
    margin-left: .2rem;
    margin-right: -0.2rem;
    background-image: url("../img/locationIcon.png");
    background-size: cover;
}

.search-bar .location-text {
    position: relative;
    display: inline-block;
    font-size: .35rem;
    color: #ffffff;
    vertical-align: .375rem;
    margin-left: .2rem;
    margin-right: .475rem;
}

.search-bar .location-text::after {
    content: " ";
    display: block;
    width: .35rem;
    height: .35rem;
    background-image: url("../img/arrowIcon.png");
    background-size: cover;
    position: absolute;
    right: -0.55rem;
    top: -0.025rem;
}

.search-bar .search-btn {
    position: relative;
    width: 4.25rem;
    height: .75rem;
    background-color: #fff;
    border-radius: .5rem;
}

.search-bar .search-btn::before {
    content: " ";
    display: block;
    width: .35rem;
    height: .35rem;
    background-image: url("../img/searchIcon.png");
    background-size: cover;
    position: absolute;
    top: .2rem;
    left: .2rem;
}

.search-bar .place-holder {
    color: #a9a9a9;
    font-size: .35rem;
    height: 100%;
    line-height: .75rem;
    margin-left: .7rem;
}