.star-score .star {
    width: .25rem;
    height: .25rem;
    float: left;
    background-size: cover;
}

.star-score .fullstar {
    background-image: url('./img/fullstar.png');
}

.star-score .halfStar {
    background-image: url('./img/halfstar.png');
}

.star-score .halfStar {
    background-image: url('./img/gray-star.png');
}